{% load static %}
{% block header %}
                <header id="page-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <!-- <div class="navbar-brand-box text-center" style="background: #f7f7f7;"> -->
                            <div class="navbar-box" style="background: #f7f7f7;width: 60px;">
                            <a href="{% url 'dashboard' %}" class="logo logo-dark">
                                
                                <span class="logo-sm"> 
                                    <img src="{% static 'images/logonew.jpeg' %}" alt="logo-sm-dark" style="width: 60px;height: 65px;">
                                </span>
                                <span class="logo-lg"> 
                                    <img src="{% static 'images/logonew.jpeg' %}" alt="logo-dark" style="width: 60px;height: 65px;">
                                </span>
                            </a>

                            <a href="{% url 'dashboard' %}" class="logo logo-light">
                                <!-- <span class="logo-sm" style="
                                font-weight: bold;
                                font-size: small;
                                color: white;
                            "> <span>SUN </span><span style="color:#0bb197;">TECH</span> -->
                            <span class="logo-sm"> 
                                    <img src="{% static 'images/logonew.jpeg' %}" alt="logo-sm-light" style="width: 60px;height: 65px;">
                                </span>
                                <!-- <span class="logo-lg" style="
                                font-weight: bold;
                                font-size: x-large;
                                color: white;
                            ">  <span>SUN </span><span style="color:#0bb197;">TECH</span> -->
                            <span class="logo-lg" style="width: -webkit-fill-available;"> 
                                    <img src="{% static 'images/logonew.jpeg' %}" alt="logo-light" style="width: 60px;height: 65px;">
                                </span>
                            </a>
                        </div>

                        <!-- <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                            <i class="ri-menu-2-line align-middle"></i>
                        </button> -->

                        <!-- App Search-->
                        <!-- <form class="app-search d-none d-lg-block">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="ri-search-line"></span>
                            </div>
                        </form> -->
                    </div>

                    <div class="d-flex">

                        <!-- <div class="dropdown d-inline-block d-lg-none ms-2">
                            <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ri-search-line"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                aria-labelledby="page-header-search-dropdown">
                    
                                <form class="p-3">
                                    <div class="mb-3 m-0">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search ...">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="submit"><i class="ri-search-line"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div> -->

                       


                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="ri-notification-3-line"></i>
                                <span class="noti-dot"></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                aria-labelledby="page-header-notifications-dropdown">
                                <div class="p-3">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="m-0"> Notifications </h6>
                                        </div>
                                        <div class="col-auto">
                                            <a href="#!" class="small"> View All</a>
                                        </div>
                                    </div>
                                </div>
                                <div data-simplebar style="max-height: 230px;">
                                   
                                </div>
                                <div class="p-2 border-top">
                                    <div class="d-grid">
                                        <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                                            <i class="mdi mdi-arrow-right-circle me-1"></i> View More..
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dropdown d-inline-block user-dropdown">
                            <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="rounded-circle header-profile-user" src="{% static 'images/user.png' %}" style="height: 33px;"
                                    alt="Header Avatar">
                                {% if user.is_authenticated %}
                                    <span class="d-none d-xl-inline-block ms-1">{{user.username}}</span>
                                {% endif %}
                                <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <!-- item-->
                                {% if user.is_authenticated %}
                                    <a class="dropdown-item" href="{% url 'settings' %}"><i class="ri-settings-2-line font-size-17 align-middle me-1"></i> Settings</a>
                                    
                                    <a class="dropdown-item text-danger" href="{% url 'account_logout' %}"><i class=" ri-logout-circle-r-line font-size-16 align-middle me-1 text-danger"></i> Log Out</a>
                                {% endif %}
                                <a class="dropdown-item text-danger" href="#" onclick="logout()"><i class=" ri-logout-circle-r-line font-size-16 align-middle me-1 text-danger"></i> Log Out</a>
                            </div>
                        </div>

                      

                    </div>
                </div>
               
            </header>
{% endblock header %}

{% block extra_javascript %}
<script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
<script>
 
function logout(){
            localStorage.setItem("email", "");
            localStorage.setItem("password", "");
            location.replace("/");
     
}
</script>
{% endblock extra_javascript %}