{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Chart{% endblock title %}
{% block extra_css %}
        <!-- DataTables -->
        <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />     

         <!-- Sweet Alert-->
         <link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0" style="color:#336699 !important;">Market Basket Analysis</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Utility</a></li> -->
                                            <!-- <li class="breadcrumb-item active">Market Basket Analysis</li> -->
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                        <!-- <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        {{ tablesdata | safe }}

                                        <br>
                                        <br>
                                        <h3>Graph </h3>
                                        <img src='data:image/png;base64,{{ wind_rose }}' style="width: 80%;">

                                    </div>
                                </div>
                            </div> 
                        </div> -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4" >
                                                <label class="form-label">Start Date</label>
                                               <input type="date" id="fdate" class="form-control">
                                            </div>
                                            <div class="col-4" >
                                                <label class="form-label">End Date</label>
                                               <input type="date" id="tdate" class="form-control">
                                            </div>  
                                            <div class="col-2" style="align-self: self-end;"><button type="button" onclick="getapirecord()" class="btn btn-primary">SUBMIT</button> <button type="button" onclick="reset()" class="btn btn-primary">RESET</button>
                                                </div> 
                                        </div>  
                                        <br/>
                                        <div class="row">
                                            <div class="col-12" >
                                                <div id="table"></div>
                                            </div>
                                            <div class="col-6" >
                                                <img id="apiimage" style="display:none;" src='' >
                                            </div>
                                        </div>
                                       <br/>
                                       <div class="row"><div class="col-5" ></div><div class="col-2" style="text-align: center;"><a href="{% url 'market-basket-analysis-chart' %}" style="display:none;width: max-content;" id="view_button" class="btn btn-lg btn-primary">DETAILED ANALYSIS</a><!--<button type="button" style="display:none;" id="view_button" onclick="view()" class="btn btn-primary">DETAILED ANALYSIS</button>--></div><div class="col-5" ></div></div>
                                       <br/>
                                       <div class="row">
                                           <div class="col-6" >
                                            <img id="apiimage2" style="display:none;width:100%;" src='' >
                                           </div>
                                           <div class="col-6" >
                                               <img id="apiimage3" style="display:none;width:100%;" src='' >
                                           </div>
                                       </div>
                                       <div class="row">
                                        <div class="col-6" >
                                        <img id="apiimage4" style="width: 100%;" src='' >
                                        </div>
                                           </div>

                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div>
                      
                        <!-- <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        
                                      
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                       -->

                        

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
{% endblock content %}
{% block extra_javascript %}
        <!-- Required datatable js -->
        <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
        <!-- Buttons examples -->
        <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
        <script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
        <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
        <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
        <!-- Responsive examples -->
        <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

        <!-- Datatable init js -->
        <script src="{% static 'js/pages/datatables.init.js' %}"></script>

         <!-- Sweet Alerts js -->
         <script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>

         <!-- Sweet alert init js-->
         <script src="{% static 'js/pages/sweet-alerts.init.js' %}"></script>

        <script>
            	$('#datatable_wrapper').DataTable({ 'responsive': true});
                
                function reset(){
                    localStorage.setItem("chart0", "");
                    localStorage.setItem("chart1", "");
                    localStorage.setItem("chart2", "");
                    localStorage.setItem("table", "");
                    localStorage.setItem("fdate", "");
                    localStorage.setItem("tdate", "");
                    localStorage.setItem("list", "");
                    location.reload();
                }
    $(document).ready(function(){

        if((localStorage.getItem("email") == "" && localStorage.getItem("password") == "") || (localStorage.getItem("email") == null && localStorage.getItem("password") == null)){
            //alert(localStorage.getItem("email"));
            location.replace("/");
        }
        if(localStorage.getItem("chart0") != "" && localStorage.getItem("chart0") != null){

            //alert(localStorage.getItem("chart0"));
                    $("#apiimage").show();
                    $('#apiimage').prop("src", "data:image/png;base64,"+localStorage.getItem("chart0"));
                    $("#table").append(localStorage.getItem("table"));
                    $("#fdate").val(localStorage.getItem("fdate"));
                    $("#tdate").val(localStorage.getItem("tdate"));
                    $('#datatable_wrapper_3').DataTable({ 'responsive': true});
                    $("#view_button").show();
        }
    });
    function getapirecord(){
        var fdate = $("#fdate").val();
        var tdate = $("#tdate").val();
        $("#apiimage2").hide();
        $("#apiimage3").hide();
        $("#table").empty();
        $('#apiimage').prop("src", "");
        $("#view_button").hide();
        //alert(type);


        
        if(fdate !="" && tdate !=""){

            
            
            Swal.fire({
            title: 'Progressing',
            html: 'Please Wait.',
            confirmButtonColor: "#0bb197",
            }).then(function (result) {
            // if (
            //     result.dismiss === Swal.DismissReason.timer
            // ) {
            //     console.log('I was closed by the timer')
            // }
            })
            Swal.showLoading();
      


            $.ajax({
            type: "POST",
            data:{'fdate':fdate,'tdate':tdate},
            url: "getapirecord",
            dataType:"json",
            success: function(response){
                console.log(response);
                Swal.close();
                if(response.Status == "SUCCESS"){
                    
                    $("#apiimage").show();
                    $('#apiimage').prop("src", "data:image/png;base64,"+response.res);
                    $('#apiimage2').prop("src", "data:image/png;base64,"+response.chart1);
                    $('#apiimage3').prop("src", "data:image/png;base64,"+response.chart2);
                    //$('#apiimage4').prop("src", "data:image/png;base64,"+response.chart3);
                    localStorage.setItem("chart1", response.chart3);
                    localStorage.setItem("chart2", response.chart2);
                    localStorage.setItem("chart0", response.res);
                    localStorage.setItem("table", response.table);
                    localStorage.setItem("fdate", fdate);
                    localStorage.setItem("tdate", tdate);
                    localStorage.setItem("list",  response.list);
                    $("#table").append(response.table);
                    $('#datatable_wrapper_3').DataTable({ 'responsive': true});
                    $("#view_button").show();

                }else{
                    alert("Incorrect Date");
                }
            }
        });
    }else{
        alert("Please Select From Date and To Date")
    }
    }
    function view(){
        $("#apiimage2").show();
        $("#apiimage3").show();
    }
        </script>
{% endblock extra_javascript %}