{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <!-- <h4 class="mb-sm-0">Dashboard</h4> -->

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Utility</a></li> -->
                                            <!-- <li class="breadcrumb-item active">Dashboard</li> -->
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-xl-3 col-sm-6" id="1">
                                <div class="card">
                                    <img class="card-img-top img-fluid" src="static/images/card1.jpg" alt="Card image cap">
                                    <div class="card-body" style="align-self: center;height: 100px;">
                                        <a href="{% url 'market-basket-analysis-api' %}" class="mb-3 text-success me-2" style="font-size: 20px;color:#336699 !important;font-weight: bolder;">Market Basket Analysis</a>
                                    </div> 
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->

                            <div class="col-xl-3 col-sm-6" id="2">
                                <div class="card">
                                    <img class="card-img-top img-fluid" src="static/images/card2.jpg" alt="Card image cap">
                                    <div class="card-body" style="align-self: center;height: 100px;">
                                        <a href="#" class="mb-3 text-success me-2" style="font-size: 20px;color:#336699 !important;font-weight: bolder;">Forecasting</a>
                                    </div> 
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->

                            <div class="col-xl-3 col-sm-6" id="3">
                                <div class="card">
                                    <img class="card-img-top img-fluid" src="static/images/card3.jpg" alt="Card image cap">
                                    <div class="card-body" style="align-self: center;height: 100px;">
                                        <a href="#" class="mb-3 text-success me-2" style="font-size: 20px;color:#336699 !important;font-weight: bolder;">Stock-out Analysis & Product Transformation</a>
                                    </div> 
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->

                            <div class="col-xl-3 col-sm-6" id="4">
                                <div class="card">
                                    <img class="card-img-top img-fluid" src="static/images/card4.jpg" alt="Card image cap">
                                    <div class="card-body" style="align-self: center;height: 100px;">
                                        <a href="#" class="mb-3 text-success me-2" style="font-size: 20px;color:#336699 !important;font-weight: bolder;">Inventory Optimization</a>
                                    </div> 
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>


                        

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
{% endblock content %}
{% block extra_javascript %}
<script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
<script>
    $(document).ready(function(){

        if((localStorage.getItem("email") == "" && localStorage.getItem("password") == "") || (localStorage.getItem("email") == null && localStorage.getItem("password") == null)){
            //alert(localStorage.getItem("email"));
            location.replace("/");
        }
        if(localStorage.getItem("email") == "user_1"){
            $("#1").show();
            $("#2").show();
            $("#3").hide();
            $("#4").hide();
        }else if(localStorage.getItem("email") == "user_2"){
            $("#1").hide();
            $("#2").show();
            $("#3").hide();
            $("#4").hide();
        }else if(localStorage.getItem("email") == "user_3"){
            $("#1").show();
            $("#2").hide();
            $("#3").show();
            $("#4").hide();
        }else if(localStorage.getItem("email") == "user_4"){
            $("#1").hide();
            $("#2").hide();
            $("#3").hide();
            $("#4").show();
        }else{
            $("#1").show();
            $("#2").show();
            $("#3").show();
            $("#4").show();
        }
    });
</script>
{% endblock extra_javascript %}