{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0">Dashboard</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Utility</a></li> -->
                                            <li class="breadcrumb-item active">Dashboard</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-xl-3 col-sm-6" id="1">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="">
                                            <div class="flex-shrink-0  me-3 align-self-center" style="text-align: -webkit-center;">
                                                <div class="avatar-md" style="">
                                                    <div class="avatar-title bg-light rounded-circle text-primary font-size-20" style="font-size: 40px!important;">
                                                        <i class="fas fa-hand-holding-usd"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 overflow-hidden" style="text-align: -webkit-center;">
                                                <p class="mb-1"></p>
                                                <a href="{% url 'market-basket-analysis' %}" class="mb-3 text-success me-2">Market Basket Analysis</a><br/>
                                                <!-- <a href="#"class="mb-3 text-success me-2">Watch Video</a> -->
                                                <!-- <p class="text-truncate mb-0"><span class="text-success me-2"> 0.01% <i class="ri-arrow-right-up-line align-bottom ms-1"></i></span> From previous</p> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->

                            <div class="col-xl-3 col-sm-6" id="2">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="">
                                            <div class="flex-shrink-0  me-3 align-self-center" style="text-align: -webkit-center;">
                                                <div class="avatar-md" style="">
                                                    <div class="avatar-title bg-light rounded-circle text-primary font-size-20" style="font-size: 40px!important;">
                                                        <i class="ri-vip-diamond-fill"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 overflow-hidden" style="text-align: -webkit-center;">
                                                <p class="mb-1"></p>
                                                <a href="#" class="mb-3 text-success me-2">Forecasting</a><br/>
                                                <!-- <a href="#"class="mb-3 text-success me-2">Watch Video</a> -->
                                                <!-- <p class="text-truncate mb-0"><span class="text-success me-2"> 0.01% <i class="ri-arrow-right-up-line align-bottom ms-1"></i></span> From previous</p> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->

                            <div class="col-xl-3 col-sm-6" id="3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="">
                                            <div class="flex-shrink-0  me-3 align-self-center" style="text-align: -webkit-center;">
                                                <div class="avatar-md" style="">
                                                    <div class="avatar-title bg-light rounded-circle text-primary font-size-20" style="font-size: 40px!important;">
                                                        <i class="ri-bar-chart-box-fill"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 overflow-hidden" style="text-align: -webkit-center;">
                                                <p class="mb-1"></p>
                                                <a href="#" class="mb-3 text-success me-2">Stock-out Analysis & Product Transformation                                                </a><br/>
                                                <!-- <a href="#"class="mb-3 text-success me-2">Watch Video</a> -->
                                                <!-- <p class="text-truncate mb-0"><span class="text-success me-2"> 0.01% <i class="ri-arrow-right-up-line align-bottom ms-1"></i></span> From previous</p> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->

                            <div class="col-xl-3 col-sm-6" id="4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="">
                                            <div class="flex-shrink-0  me-3 align-self-center" style="text-align: -webkit-center;">
                                                <div class="avatar-md" style="">
                                                    <div class="avatar-title bg-light rounded-circle text-primary font-size-20" style="font-size: 40px!important;">
                                                        <i class="fas fa-sort-amount-up"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1 overflow-hidden" style="text-align: -webkit-center;">
                                                <p class="mb-1"></p>
                                                <a href="#" class="mb-3 text-success me-2">Inventory Optimization                                                </a><br/>
                                                <!-- <a href="#"class="mb-3 text-success me-2">Watch Video</a> -->
                                                <!-- <p class="text-truncate mb-0"><span class="text-success me-2"> 0.01% <i class="ri-arrow-right-up-line align-bottom ms-1"></i></span> From previous</p> -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>


                        

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->
{% endblock content %}
{% block extra_javascript %}
<script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
<script>
    $(document).ready(function(){

        if((localStorage.getItem("email") == "" && localStorage.getItem("password") == "") || (localStorage.getItem("email") == null && localStorage.getItem("password") == null)){
            //alert(localStorage.getItem("email"));
            location.replace("/");
        }
        if(localStorage.getItem("email") == "user_1"){
            $("#1").show();
            $("#2").show();
            $("#3").hide();
            $("#4").hide();
        }else if(localStorage.getItem("email") == "user_2"){
            $("#1").hide();
            $("#2").show();
            $("#3").hide();
            $("#4").hide();
        }else if(localStorage.getItem("email") == "user_3"){
            $("#1").show();
            $("#2").hide();
            $("#3").show();
            $("#4").hide();
        }else if(localStorage.getItem("email") == "user_4"){
            $("#1").hide();
            $("#2").hide();
            $("#3").hide();
            $("#4").show();
        }else{
            $("#1").show();
            $("#2").show();
            $("#3").show();
            $("#4").show();
        }
    });
</script>
{% endblock extra_javascript %}